label,select{
    display: block;
}

body{
    background-image:url(https://cdn.britannica.com/49/161649-050-3F458ECF/Bernese-mountain-dog-grass.jpg);
    background-size: cover;
    width:100%;
    margin-bottom:0;
}

h1,p{
    text-align: center;
    margin:5px 0;
}

input,select,textarea{
    width:100%;
    margin-bottom:0.5rem;
    margin-top:0.2rem;
    min-height:2em;
}

form{
    margin:0 auto;
    margin-top:10px;
    width:60vw;
    max-width:500px;
    min-width:300px;
    padding:20px 20px;
    background-color:rgba(0,0,0,0.5);
    color:white;
}
.inline{
    width:unset;
    margin:0 0.5em 0 0;
    vertical-align:middle;
}

input[type="submit"]{
    background-color:orange;
    margin:1em auto;
    height:2rem;
    border-color:orange;
    border-radius: 50px;
}

.small{
    display:unset;
    font-size:10px;
}